  {{TypeName}}{{ReturnTypeName}}sConnection: {
    edges(conn, args, { {{TypeName}}, me }) {
      return conn.edges;
    },

    pageInfo(conn, args, { {{TypeName}}, me }) {
      return conn.pageInfo;
    },
  },